
.container{
    border: solid black ;

} 
#header{
    background-color: rgba(255, 166, 0, 0.587);
    height: 100px;
    align-items: center;
    display: flex;
}

#section1{
    background-color: rgba(192, 192, 192, 0.523);
    display: flex;
   align-items: center;
   justify-content:flex-start;
  
   min-height: 55px;
    
}

a{
    text-decoration: none;
    color: black;
}

#section1 ul {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    
    
}
#section1 ul li{
    display: flex;
    font-weight: 640;
    margin: 3px;

}
#section1 ul li:not(:first-child):before{
    content: "|";
    
    
}
a:hover{
    color: blue;
}
#section2{

    background-color: rgba(34, 129, 232, 0.582);  
    align-items: center; 
    display: flex; 
}

#footer{

    background-color: rgba(255, 192, 203, 0.596);
    justify-content: flex-end;
    display: flex; 
    align-items: center;
    height: 50px;
}


h3{
    margin: 20px;
}

